<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Babar Electronics</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" class="material-icons left">Mobile</a></li>
      <li><a href="#" class="material-icons left">Laptop</a></li>
      <li><a href="#" class="material-icons left">LED</a></li>
      <li><a href="#" class="material-icons left">AC</a></li>
      <li><a href="#" class="material-icons left">Washing machine</a></li>
      <li><a href="#" class="material-icons left">Refrigerator</a></li>
      <li><a href="#" class="material-icons left">Kitchen Appliances</a></li>
      <li><a href="#" class="material-icons left">Air Cooler</a></li>
    </ul>
  </div>
</nav>